# Node.js / Frida related
node_modules/
*.log

# macOS
.DS_Store

# Linux
*.swp

# IDEs and editors
.vscode/
.idea/

# Bytecode / Packages
*.pyc
__pycache__/
*.class

# Android related builds (if used with adb scripts)
*.apk
/build/